{{- $ns := .Get "core/namespace" -}}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $ns }}
  labels:
    app.kubernetes.io/part-of: glyphoxa
    app.kubernetes.io/managed-by: zhi
    pod-security.kubernetes.io/enforce: restricted
    pod-security.kubernetes.io/warn: restricted
    pod-security.kubernetes.io/audit: restricted
